<html>
<head>
  <title>Web Dev Practice</title>
  <link rel="stylesheet" href="style.css"/>
  <script src="script.js"></script>
  <link rel="stylesheet" href="home.css"/>
  <style>
    .home {
      font-weight: bold;
    }
  </style>
</head>

<%- include('nav') %>

<body>

<div class="intro_section" id="intro_image">
  <div class="intro_content">
    <div class="welcome">
      <h1 class="welcome_title"> Exhibition of Learning</h1>
      <p id="welcome_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Platea dictumst quisque sagittis purus. Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Scelerisque in dictum non consectetur a erat. Turpis tincidunt id aliquet risus feugiat in ante metus. Eu ultrices vitae auctor eu augue ut. Est velit egestas dui id ornare arcu odio ut sem.
      </p>
    </div>

    <div class="search_bar_section">
      <div class="search_bar_box">
        <div class="search_bar">
          <img id="search_image" src="https://cdn-icons-png.flaticon.com/512/61/61088.png">
           <div class="selection_button" onclick="">
            
            <select>
              <option>All Tags</option>
              <option>Skill</option>
              <option>Throughline</option>
              <option>Name</option>
              <option>Teacher</option>
              <option>Class</option>
            </select>
            <span class="custon-arrow"></span>
          </div> 
          <input type="text" id="search_bar" placeholder="Hashtag Search ... " onkeyup="search()">
          <div id="tag_panel_of_search">
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag1</button>
            <button class="tag_button" onclick="insertTag('SampleTag1', 'computerScienceClasses')">SampleTag2</button>
          </div>
          <img id="microphone_image" src="https://www.iconpacks.net/icons/1/free-microphone-icon-342-thumb.png">
        </div>
      </div>
      
    </div>
    
    
    
  </div>
</div>
    

<div class="highlights">
  <h1 class = "highlights_text">Recent Exhibition of Learning</h1>
    <div class="video_highlights">
      <% if (exhibitions.length > 0) {
        exhibitions.forEach(function(exhibition) {
          %>
          <div class="video">
          <div class="video_thumbnail"><%-exhibition.video_html_code%>
          </div>
          <div class="video_tags"><%=exhibition.course_number%>: <%=exhibition.course_name%>
            <%
              exhibition.skills.forEach(function(skill) {
                %>
                | <%=skill%>
                <%
              })
            %>
          </div>
          <div class="video_text">
            <div class="student_name"><%= exhibition.first_name %> <%= exhibition.last_name %></div>
            <div class="upload_date">
              <% if (exhibition.term == 1) {
                %>
                Fall Term, 
                <%
              } else if (exhibition.term == 2) {
                %>
                Winter Term, 
                <%
              } else if (exhibition.term == 3) {
                %>
                Spring Term, 
                <%
              }%>
              <%= exhibition.academic_year%> 
            </div>
          </div>
        </div>
        <%
      })
    }
    %>
  </div>
      
</div>

  </body>
    
  <%- include('foot') %>
  
  
</html>